body {
  background-color: #7a86cb;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  background-color: rgba(55, 60, 92, 0.5);
  border-radius: 20px;
  border: 1px solid rgba(55, 60, 92, 0.35);
}

label::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgba(30, 29, 24, 0.5);
  border: 1px solid rgba(30, 29, 24, 0.35);
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

input:checked + label::after {
  left: 20px;
  background-color: #e6e7f2;
  border: 1px solid #e6e7f2;
}
input:checked + label {
  background-color: rgba(230, 231, 242, 0.15);
  border: 1px solid #4c537e;
}

input {
  display: none;
}
